<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href ="/users/new">Create an account</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/stories">Stories</a></li>
</ul>
    <div class="headline">
        <h1 id="title">Traveller's site</h1>
    </div>
    <div class="login-status">
        <% if (loggedIn) { %>
        <div class="bubble logged-in">
            Logged in as <a href="<%=`/users/${currentUser._id}`%>">
                <%= currentUser.userName %></a>
        </div>
        <div class="log-out">
            <a href="/users/logout">Log out</a>
        </div>
        <%} else {%>
        <div class="bubble log-in">
            <a href="/users/login">Log In</a>
        </div>
        <% } %>
    </div>
    <div class="flash">
		<% if (flashMessages) { %>
		<% if (flashMessages.success) { %>
		<div class="flash success">
			<%= flashMessages.success %>
		</div>
		<% } else if (flashMessages.error) { %>
		<div class="flash error">
			<%= flashMessages.error %>
		</div>
		<% } %>
		<% } %>
	</div>

    <div class="container">
        <%- body %>
    </div>
</body>

</html>